.cart_page_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

.cart_page_header {
    margin: 140px 0 40px 0;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}

.cart_container {
    max-width: 1200px;
    width: 85%;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 4px 1px rgb(214, 214, 214);
    transition: height 0.4s ease;
}

@media only screen and (max-width: 800px) {
    .cart_page_header {
        margin: 120px 0 30px 0;
    }
 .cart_container {
     width: 100% !important;
 }
 .cart_product-info-container { height: 130px !important; }
 .cart_product_info-container img {
    width: 28% !important;
    height: 80% !important;
}

 .cart_product_info-container div h1 {
    font-size: 13px !important;
    font-weight: 700;
}

.cart_product_info-container div p {
    margin-top: 10px;
    font-size: 8px !important;
    font-weight: 300;
    width: 100% !important;
    }

    .cart_paymentcheckout_container {
        width: 100% !important;
        flex-direction: column !important;
    }
    .paymentcheckout_details_container {
        width: 100% !important;
    }
    .paymentcheckout_checkout_container {
        width: 100% !important;
        margin-top: 20px;
        height: 265px !important;
    }
    .cart_product_info-savings, .cart_product_info-price { font-size: 12px !important; }
}

.cart_container header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #8a1c2c;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 30px;
    color: white;
}

.cart_container header h1 {
    width: 5%;
}

.cart_container header h2 {
    width: 45%;
}

.cart_container header h3 {
    width: 20%;
}

.cart_container header h4 {
    width: 15%;
}

.cart_container header h5 {
    width: 15%;
}

.cart_product-info-container {
    width: 95%;
    display: flex;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

.cart_product-info-container > h1 {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 30px;
}

.cart_product_info-container {
    width: 45%;
    height: 100%;
    display: flex;
}

.cart_product_info-container img {
    height: 90%;
    width: 10%;
}

.cart_product_info-container > div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}

.cart_product_info-container div h1 {
    font-size: 20px;
    font-weight: 700;
}

.cart_product_info-container div p {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
    width: 80%;
}

.cart_product_info-savings {
    width: 20%;
    text-align: center;
    margin-bottom: 30px;
    color: red;
    text-decoration: line-through;
    font-size: 16px;
}

.cart_product_info-price {
    width: 15%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}

.cart_product_info-remove {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
