.main_header {
    width: 100vw;
    height: 100px;
    background-color: #862633;
    display: flex;
    align-items: center;
    position: fixed;
    box-shadow: 1px 1px 1px 1px #6b1621;
    z-index: 100;
    left: 0;
  }